.navbar-brand {
  padding: 0px;
}

.navbar-default {
  background-color: #ffffff;
  border: none;
  padding: 10px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #7ec3bf;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #7ec3bf;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-nav li a{
  cursor: pointer;
}

.nav>li {
  padding-right: 25px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 10px;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
}
